

@{
    ViewData["Title"] = @Localizer["Title"];
}
@section css {
    <link href="~/css/Controllers/ServiceController.css" rel="stylesheet" />
    <link href="~/css/Controllers/HairdreamsController.css" rel="stylesheet" />
}


<div class="content row standard-hyperlinks hairdreams-long" onload="changeBackground('url(../../images/hairdreams/volume/daniela-volume.jpg', 'right -200px top 0px', 'fixed', 'no-repeat', 'cover', '#f8f7f5')">
    <div class="row">
        <h1>@Localizer["TitleText"]</h1>
      <aside class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="wrapper standard-shadow">
          <img class="img-responsive widen-image" src="~/images/Hairdreams/Volume/volume-main-01.jpg" alt="Volume Hairdreams"/>
          <h2>@Localizer["VolumeHairdreams"]</h2>
          <p>@Localizer["VolumeHairdreamsText"]</p>
        </div>
      </aside>
      <article class="col-xs-12 col-sm-6 col-md-8 col-lg-9">
        <div class="wrapper standard-shadow">
          <h3>@Localizer["IntroText"]</h3>
          <p>@Localizer["IntroText2"]</p>
          @await Html.PartialAsync("_BookExtensionsPartial")
        </div>
      </article>
    </div>
    <div class="services-container">
        <ul class="nav nav-tabs">
            <li class="active">
                <a data-toggle="tab" href="#menuMicrolines">
                    <div class="text-center service-index-tab">
                        <img class="img-service-index-tab" src="~/images/Hairdreams/Index/microlines.png" />
                        <div class="name-service-index-tab">@Localizer["Microlines"]</div>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#menuHighlines">
                    <div class="text-center service-index-tab">
                        <img class="img-service-index-tab" src="~/images/Hairdreams/Index/highlines.png" />
                        <div class="name-service-index-tab">@Localizer["Highlines"]</div>
                    </div>
                </a>
            </li>
            <li>
                <a data-toggle="tab" href="#menuTophair">
                    <div class="text-center service-index-tab">
                        <img class="img-service-index-tab" src="~/images/Hairdreams/Index/tophair.png" />
                        <div class="name-service-index-tab">@Localizer["Tophair"]</div>
                    </div>
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div id="menuMicrolines" class="standard-shadow tab-pane fade in active">
                <div class="row">
                  <h2>@Localizer["MicrolinesTitle"]</h2>
                  <h3>@Localizer["MicrolinesIntroText"]</h3>
                  <p>@Localizer["MicrolinesIntroText2"]</p> 
                  @await Html.PartialAsync("_BookExtensionsPartial")
                </div>
            </div>
            <div id="menuHighlines" class="standard-shadow tab-pane fade">
                <div class="row">
                  <h2>@Localizer["HighlinesTitle"]</h2>
                  <h3>@Localizer["HighlinesIntroText"]</h3>
                  <p>@Localizer["HighlinesIntroText2"]</p> 
                  @await Html.PartialAsync("_BookExtensionsPartial")
                </div>
            </div>
            <div id="menuTophair" class="standard-shadow tab-pane fade">
                <div class="row">
                  <h2>@Localizer["TophairTitle"]</h2>
                  <h3>@Localizer["TophairIntroText"]</h3>
                  <p>@Localizer["TophairIntroText2"]</p> 
                  @await Html.PartialAsync("_BookExtensionsPartial")
                </div>
            </div>
        </div>
    </div>
</div>