@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>@SharedLocalizer["CompanyInfo"]</h3>
<div>@SharedLocalizer["CompanyName"]</div>
<div>@SharedLocalizer["CompanyStreet"] @SharedLocalizer["CompanyStreetNumber"]</div>
<div>@SharedLocalizer["CompanyPostalCode"] @SharedLocalizer["CompanyCity"]</div>
<div>@SharedLocalizer["CompanyVAT"] @SharedLocalizer["CompanyVATNumber"]</div>