@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3>@SharedLocalizer["ContactUs"]</h3>
<p>
    <span>
        <a href="@SharedLocalizer["FacebookLink"]"><img src="~/images/facebook.png" class="social-media-link-images"/></a>
    </span>
    <span>
        <a href="@SharedLocalizer["InstagramLink"]"><img src="~/images/instagram.png" class="social-media-link-images" /></a>
    </span>
    <span>
        <a href="@SharedLocalizer["TwitterLink"]"><img src="~/images/twitter.png" class="social-media-link-images" /></a>
    </span>
</p>
<p><span class="glyphicon glyphicon-envelope"> </span> <span><a href="mailto: @SharedLocalizer["Email"]">@SharedLocalizer["Email"]</a></span></p>
<p><span class="glyphicon glyphicon-globe"> </span> <span><a href="@SharedLocalizer["CoiffureShopWebsite"]">@SharedLocalizer["CoiffureShopWebsite"]</a></span></p>
<p><span class="glyphicon glyphicon-earphone"> </span> <span>@SharedLocalizer["PhoneNumber"]</span></p>