@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<h3>@SharedLocalizer["ContactUs"]</h3>
<p>
    <span>
        <a href="@SharedLocalizer["FacebookLink"]" target="_blank"><img src="~/images/facebook.png" class="social-media-link-images grey-hover"/></a>
    </span>
    <span>
        <a href="@SharedLocalizer["InstagramLink"]" target="_blank"><img src="~/images/instagram.png" class="social-media-link-images grey-hover" /></a>
    </span>
    <span>
        <a href="@SharedLocalizer["TwitterLink"]" target="_blank"><img src="~/images/twitter.png" class="social-media-link-images grey-hover" /></a>
    </span>
</p>
<p><span class="glyphicon glyphicon-envelope contact-glyphicon-margins"> </span>  <span><a href="mailto: @SharedLocalizer["Email"]">@SharedLocalizer["Email"]</a></span></p>
<p><span class="glyphicon glyphicon-globe contact-glyphicon-margins"> </span>  <span><a href="http://@SharedLocalizer["CoiffureShopWebsite"]">@SharedLocalizer["CoiffureShopWebsite"]</a></span></p>
<p><span class="glyphicon glyphicon-earphone contact-glyphicon-margins"> </span>  <span>@SharedLocalizer["PhoneNumber"]</span></p>