
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>@SharedLocalizer["OpeningHours"]</h3>
<table class="opening-hours-table">
    <tbody>
        <tr>
            <td class="left">@SharedLocalizer["Monday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursMonday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Tuesday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursTuesday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Wednesday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursWednesday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Thursday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursThursday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Friday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursFriday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Saturday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursSaturday"]</td>
        </tr>
        <tr>
            <td class="left">@SharedLocalizer["Sunday"]</td>
            <td class="right">@SharedLocalizer["OpeningHoursSunday"]</td>
        </tr>
    </tbody>
</table>