
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<h3>@SharedLocalizer["OpeningHours"]</h3>
<table>
    <tbody>
        <tr>
            <td>@SharedLocalizer["Monday"]</td>
            <td>@SharedLocalizer["OpeningHoursMonday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Tuesday"]</td>
            <td>@SharedLocalizer["OpeningHoursTuesday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Wednesday"]</td>
            <td>@SharedLocalizer["OpeningHoursWednesday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Thursday"]</td>
            <td>@SharedLocalizer["OpeningHoursThursday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Friday"]</td>
            <td>@SharedLocalizer["OpeningHoursFriday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Saturday"]</td>
            <td>@SharedLocalizer["OpeningHoursSaturday"]</td>
        </tr>
        <tr>
            <td>@SharedLocalizer["Sunday"]</td>
            <td>@SharedLocalizer["OpeningHoursSunday"]</td>
        </tr>
    </tbody>
</table>