@model ErrorViewModel
@{
    ViewData["Title"] = @Localizer["Title"];
}

<h1 class="text-danger">@Localizer["Title"]</h1>
<h2 class="text-danger">@Localizer["ErrorMessage"]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

    <h3>@Localizer["ContactUs"]</h3>
<p>
    Indien de fout zich blijft voordoen, gelieve contact op te nemen.
</p>