

@{
    ViewData["Title"] = @Localizer["H3Title"];
}
@section css {
    <link href="~/css/Controllers/HomeController.css" rel="stylesheet" />
}


<div class="content row">
    <div class="intro-text">
        <img src="~/images/HomeAppointment/20180206 - Appointment.png" alt="@Localizer["H3Title"]" title="@Localizer["H3Title"]" />
        <h2>@Localizer["H3Title"]</h2>
        <p>@Localizer["Introduction"]</p>
        <p>@Localizer["InfoText"]</p>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-earphone"> </span> @Localizer["ByTelephone"]</h3>
            <p>@Localizer["ByTelephoneText"]</p>
        </div>
        <div class="col-md-6">
            <h3><span class="glyphicon glyphicon-globe"> </span> @Localizer["Online"]</h3>
            <p>@Localizer["OnlineText"]</p>
            @*<p><a href="http://kapper.optios.net/online_booking/start.php?optios_id=4674&amp;language=@SharedLocalizer["OptiosBookingCulture"]" target="_blank" class="btn btn-danger navbar-btn btn-dcs">@Localizer["BookOnline"]</a></p>*@
            <p><button class="btn btn-danger navbar-btn btn-dcs" data-toggle="modal" data-target="#myAppointmentModal">@Localizer["BookOnline"]</button></p>
        </div>
        <!-- Modal -->
        @*<div class="modal fade" id="myAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="myAppointmentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">*@
        @*<div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myAppointmentModalLabel">@Localizer["BookOnline"]</h4>
                <p></p>
            </div>*@
        @*<div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">Sluiten</button>
                            <iframe src="http://kapper.optios.net/online_booking/start.php?optios_id=4674&amp;language=@SharedLocalizer["OptiosBookingCulture"]" id="info" class="iframe" name="info" seamless=""></iframe>
                        </div>
                    </div>
                </div>
            </div>*@ <!-- /#myModal -->
        <!-- Modal -->
        <div class="modal fade" id="myAppointmentModal" tabindex="-1" role="dialog" aria-labelledby="myAppointmentModalLabel" aria-hidden="true">
            @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove"></span></button>*@
            <a asp-area="" asp-controller="Home" asp-action="Appointment" class="btn btn-danger navbar-btn btn-dcs backtowebsite pull-right">@Localizer["BackToWebsite"]</a>
            <iframe id="myAppointmentIframe" src="http://kapper.optios.net/online_booking/start.php?optios_id=4674&amp;language=@SharedLocalizer["OptiosBookingCulture"]" class="modal-dialog"></iframe>
        </div> <!-- /#myModal -->
    </div>
</div>